<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taha & Soumaya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Taha & Soumaya</h1>
    <div class="container">
        <a href="/books"><div class="box">📖 Books I Wrote Her</div></a>
        <a href="/pictures"><div class="box">📸 Her Pictures</div></a>
        <a href="/moments"><div class="box">💬 Memorable Moments</div></a>
        <a href="/promise"><div class="box">💍 Our Promise</div></a>
    </div>
</body>
</html>
